{% load static pipeline %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>XBill JS</title>
  <link rel="icon" type="image/gif" href="{% static "favicon.gif" %}"/>
  {% stylesheet 'xbill' %}
</head>
<body>
<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">XBill</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#story">Story</a></li>
            <li><a href="#rules">Rules</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="http://www.xbill.org/">Original Game</a></li>
            <li><a href="https://git.framasoft.org/oursique/xbill-js">Fork me on Framasoft</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<div id="game">
  <canvas id="game_canvas" width="400" height="400"></canvas>
  <section id="dialogs">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newGameModal">
      New Game
    </button>
    <button type="button" class="btn btn-default inGameButtons" data-toggle="modal" data-target="#pauseGameModal" disabled="disabled">
      Pause Game
    </button>
    <button type="button" class="btn btn-default inGameButtons" data-toggle="modal" data-target="#quitGameModal" disabled="disabled">
      Quit Game
    </button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#warpLevelModal">
      Warp to level...
    </button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#highScoresModal">
      View High Scores
    </button>
    <button type="button" class="btn btn-default" id="muteButton">Mute</button>
  </section>
</div>

<div class="container">
  <div class="row">
    <div id="story" class="col-lg-4">
      <h2>The Story:</h2>

      <p>Yet again, the fate of the world rests
        in your hands!</p>

      <p>An evil computer hacker,
        known only by his handle 'Bill', has
        created the ultimate computer virus. A
        virus so powerful that it has the power
        to transmute an ordinary computer into
        a toaster oven. (oooh!) 'Bill' has
        cloned himself into a billion-jillion
        micro-Bills. Their sole purpose is to
        deliver the nefarious virus, which has
        been cleverly diguised as a popular
        operating system.</p>

      <p>As System Administrator/Exterminator,
        your job is to keep Bill from succeeding
        at his task.</p>
    </div>

    <div id="rules" class="col-lg-4">
      <h2>The Rules:</h2>

      <p>xBill has been painstakingly designed and
        researched in order to make it as easy to use
        for the whole family as it is for little Sally.
        Years - nay - days of beta testing and
        consulting with the cheapest of human interface
        designers have resulted in a game that is easy
        to use, yet nothing at all like a Macintosh.</p>

      <ol>
        <li>Whack the Bills (click)</li>
        <li>Restart the computer (click)</li>
        <li>Pick up stolen OSes & return(drag)
          them to their respective computers
        </li>
        <li>Drag the bucket to extinguish sparks</li>
        <li>Scoring is based on total uptime,
          with bonuses for killing Bills.
        </li>
      </ol>

      <p>As for the rest, you can probably figure
        it out. We did, so it can't be too hard.</p>
    </div>

    <div id="about" class="col-lg-4">
      <h2>About</h2>
      <img src="{% static 'pixmaps/logo.png' %}">
      <img src="{% static 'pixmaps/about.png' %}">
    </div>
  </div>
</div>

<div id="footer">
  <b>allegro.js by <a href="http://allegrojs.net/">Sos Sosowski</a></b>
</div>

<div id="newGameModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newGameLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="newGameLabel">New Game?</h2>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="pauseGameModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="pauseGameLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="pauseGameLabel">Game paused</h2>
      </div>
      <div class="modal-body">
        <p>Press Continue to continue.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>

<div id="quitGameModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="quitGameLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="quitGameLabel">Quit Game</h2>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="warpLevelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="warpLevelLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="warpLevelLabel">Warp to Level?</h2>
      </div>
      <div class="modal-body">
        <p><label>Warp to level: <input type="number"></label></p>

        <p><em>Note: the original game didn't allow to warp to a lower level. I kept it for now.</em></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="highScoresModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="highScoresLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="highScoresLabel">High Scores</h2>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-hover table-condensed">
          <tr>
            <td>If you see this, the high scores failed to load...</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="scoreModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="scoreLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="scoreLabel">Level Complete</h2>
      </div>
      <div class="modal-body">
        <p>If you see this, the score failed to update...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="endGameModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="endGameLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="endGameLabel">Game Over</h2>
      </div>
      <div class="modal-body">
        <p>Module xBill has caused a segmentation fault at memory address 097E:F1A0.<br>Core dumped.</p>

        <p>We apologize for the inconvenience.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Nuts!</button>
      </div>
    </div>
  </div>
</div>

<div id="enterNameModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="enterNameLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="enterNameLabel">High Score</h2>
      </div>
      <div class="modal-body">
        <p>You earned a high score.</p>

        <p><label>Enter your name: <input type="text"></label></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<script>
  var DEBUG = {{ debug|yesno:"true,false" }};
  var STATIC_URL = "{{ STATIC_URL }}";
  var SCOREFILE_URL = "{% url 'scorefile' %}";
</script>
{% javascript 'xbill' %}
</body>
</html>
