body {
  font-family: sans-serif;
  background: #777;
}

h1 {
  text-align: center;
  font-size: 400%;
  text-shadow: #ccc 1px 1px 0;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

canvas {
  border: 3px inset #777;
  margin: 10px auto;
  display: block;
}

#dialogs {
  text-align: center;
}

#debug {
  text-align: left;
  width: 620px;
  height: 460px;
  border: 1px solid #888;
  font: 16px monospace;
  overflow: auto;
  background-color: #f8fcff;
  margin: 10px auto;
  padding: 10px;
}

#footer {
  text-align: center;
}
